DATABASE_URL="postgresql://postgres:postgres@localhost:5432/merly_partner_system?schema=public"
NEXT_PUBLIC_APP_NAME="Merly Partner System"
HARAVAN_API_BASE_URL="https://apis.haravan.com"
HARAVAN_SHOP_DOMAIN=
HARAVAN_API_KEY=
HARAVAN_API_SECRET=
HARAVAN_ACCESS_TOKEN=
HARAVAN_WEBHOOK_SECRET=
